################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ValoLeague/FileContentIndex/d62e9f96-207d-4c6a-937e-53958da7157d.vsidx
/.vs/ValoLeague/FileContentIndex/82c5c7ad-0828-431b-a24a-be3158b86182.vsidx
